{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Pathfinder</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="{% static 'js/base.js' %}"></script>

   <style>
        #mapid { height: 60vh; }
/*        body { 
            background: url({% static 'img/cool.svg' %}) no-repeat center center fixed;
            background-size: cover;
        }*/
   </style>
</head>

<body>
    <div id="mapid"></div>

    <div class="container mt-3">

        <div class="row">
            <div class="col-lg-10 mx-auto">

            {% if mode == 'all' %}
                <div class="alert alert-info" role="alert">
                  Select <b>start</b> and <b>end</b> or click on the marker on the map.
                </div>

                <form action="/route">
                    <div class="row">
                            <div class="col form-group">
                                <label for="start">Start</label>
                                <select class="form-control" id="start" name="start">
                                    {% for item in graph %}
                                        <option value="{{item.id}}">{{item.name}} ({{item.id}})</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col form-group">
                                <label for="end">End</label>
                                <select class="form-control" id="end" name="end">
                                    {% for item in graph %}
                                        <option value="{{item.id}}">{{item.name}} ({{item.id}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% else %}
                <ul class="list-group">
                    {% for item in graph %}
                        <li class="list-group-item">
                            {% if forloop.last %} 
                            <i class="fas fa-flag-checkered mr-3"></i>
                            {% else %}
                            <i class="fas fa-map-marker-alt mr-3"></i>
                            {% endif %}

                            {{ item.name }} <small class="text-muted ml-3">id: {{ item.id }}</small>
                        </li>
                    {% endfor %}
                </ul>

                <a href="/" class="my-4 btn btn-primary" role="button">Start over</a>
            {% endif %}
            </div>
        </div>

    </div>

</body>


<script>
    let mymap;
    let marker = [];
    let lines = [];
    let firstMarker;

    function setStart(id) {
        $("#start").val(id)
        mymap.closePopup()
    }

    function setEnd(id) {
        $("#end").val(id)
        mymap.closePopup()
        if ($("#start")) {
            $("form").submit()
        }
    }

    {% for item in graph %}
        a = { 
            lat: {{item.lat}},
            lng: {{item.lng}},
            id: {{item.id}},
            title: '{{item.name}}',
            {% if forloop.first and mode == "route" %}
                color: redIcon
            {% elif forloop.last and mode == "route" %}
                color: greenIcon
            {% elif mode == "route" %}
                color: purpleIcon
            {% else %}
                color: blueIcon
            {% endif %}
        }
        marker.push(a)
    {% endfor%}

    $(function() {
        mymap = L.map('mapid').setView([53.867005, 10.68736], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
            maxZoom: 18,
        }).addTo(mymap);

        // add marker to the map
        for (let i=0; i < marker.length; i++) {
            let a = L.marker([marker[i].lat, marker[i].lng], {draggable: false, icon: marker[i].color}).addTo(mymap);
            // a.bindPopup("<b>" + marker[i].title + "</b><br> id:" + marker[i].id + " / " + marker[i].lat + " / " + marker[i].lng + '<br> <div class="btn-group" role="group" aria-label="Basic example"> <a href="#" class="btn btn-outline-success btn-sm" onclick="setStart(' + marker[i].id + ')"> Start </a> <a href="#" class="btn btn-outline-danger btn-sm" onclick="setEnd(' + marker[i].id + ')"> End </a> </div>' )
            a.bindPopup(`<b>${marker[i].title}</b><br>`+
                `<span class="my-4">id: ${marker[i].id} / ${marker[i].lat} / ${marker[i].lng}</span>`
                {% if mode == 'all' %}
                    + `<div class="d-flex justify-content-around">` +
                    `<a href="#" class="btn btn-outline-danger btn-sm" onclick="setStart('${marker[i].id}')">Start</a>` +
                    `<a href="#" class="btn btn-outline-success btn-sm" onclick="setEnd('${marker[i].id}')">End</a></div>`
                {% endif %}
            )

            // to open the popup for the first marker
            if (i == 0) {
                firstMarker = a;
            }
        }

        // add lines between marker
        {% if mode == 'route' %}
            for (let i=0; i < marker.length -1; i++) {
                lines.push([marker[i].lat, marker[i].lng])
                lines.push([marker[i+1].lat, marker[i+1].lng])
            }

            let polyline = L.polyline(lines, {color: '#2ecc71', weight: 6}).addTo(mymap);
            // zoom the map to the polyline
            mymap.fitBounds(polyline.getBounds());
        {% else %}
            firstMarker.openPopup()
        {% endif %}
    });
</script>

</html>