{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Hi</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="{% static 'js/base.js' %}"></script>

   <style>
       #mapid { height: 600px; }
   </style>
</head>

<body>
    <div id="mapid"></div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            {% if mode == 'all' %}
                <form action="/route">
                    <div class="form-group">
                        <label for="start">Start</label>
                        <select class="form-control" id="start" name="start">
                            {% for item in graph %}
                                <option value="{{item.id}}">{{item.name}} ({{item.id}})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="end">End</label>
                        <select class="form-control" id="end" name="end">
                            {% for item in graph %}
                                <option value="{{item.id}}">{{item.name}} ({{item.id}})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% else %}
                <ul class="list-group">
                    {% for item in graph %}
                        <li class="list-group-item">{{item.name}}</li>
                    {% endfor %}
                </ul>

                <a href="/" class="my-4 btn btn-primary" role="button">Start over</a>
            {% endif %}
            </div>
        </div>

    </div>

</body>


<script>
    let mymap;
    let marker = [];
    let lines = [];

    function setStart(id) {
        $("#start").val(id)
        mymap.closePopup()
    }

    function setEnd(id) {
        $("#end").val(id)
        mymap.closePopup()
    }

    {% for item in graph %}
        a = { 
            lat: {{item.lat}},
            lng: {{item.lng}},
            id: {{item.id}},
            title: '{{item.name}}'
        }
        marker.push(a)
    {% endfor%}

    $(function() {
        mymap = L.map('mapid').setView([53.867005, 10.68736], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
            maxZoom: 18,
        }).addTo(mymap);

        for (let i=0; i < marker.length; i++) {
            let a = L.marker([marker[i].lat, marker[i].lng], {draggable: false}).addTo(mymap);
            a.bindPopup("<b>" + marker[i].title + "</b><br> id:" + marker[i].id + " / " + marker[i].lat + " / " + marker[i].lng + '<br> <a href="#" onclick="setStart(' + marker[i].id + ')"> Start </a> | <a href="#" onclick="setEnd(' + marker[i].id + ')"> End </a>' )
        }

        {% if mode == 'route' %}
            for (let i=0; i < marker.length; i++) {
                lines.push([marker[i].lat, marker[i].lng])

                try {
                    lines.push([marker[i+1].lat, marker[i+1].lng])
                } catch {}
            }

            let polyline = L.polyline(lines, {color: '#2ecc71'}).addTo(mymap);
            // zoom the map to the polyline
            mymap.fitBounds(polyline.getBounds());
        {% endif %}
    });
</script>

</html>